body{
    background-color: #FBFBFB;
}

.dashboard-container {
    margin: 20px auto;
}

.display-node-details, .edit-node-details {
    border: 3px solid #00213E;
    border-radius: 20px;
    padding: 20px;
}

.display-node-details .node-title {
    color: rgb(51, 204, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #5bc0de;
    box-shadow: 0px 10px 10px -9px;
    margin: 0 0 10px 0;
}

.rawHtml {
    margin: 2px 0;
    background: #F4F4F4;
    padding: 5px;
    border-radius: 5px;
}

.rawHtml-code {
    font-family: monospace,Courier New,monospace;
    border: 1px solid #D2D2D2;
    padding: 5px;
    border-radius: 5px;
}

.rawHtml-head {
    font-family: sans-serif;
    font-size: 25px;
}

.details-editor {
    border: 1px solid #8C8C8C;
    margin: 15px 0;
    border-radius: 5px;
    padding: 7px;
}

.details-editor .ta-editor {
    border: 1px solid #DDDDDD;
    background: #fff;
    border-radius: 5px;
}

.button.primary-button {
    background-color: #337AB7;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 0.5px;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.button.primary-button:hover{
    background-color: #6B92B3;
    text-decoration: none;
}

a.button.secondary-button {
    background-color: #51AFFF;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 0.5px;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
}

a.button.secondary-button:hover {
    background-color: #7ABFF9;
    text-decoration: none;
}

.colletion-tree.parent {
    background-color: #00558C;
}

.collection-node {
    padding: 10px 15px 0px 0;
}

.collection-node .collection-node-text, .collection-node .collection-node-arrow{
    color: #eef2f4;
    text-decoration: none;
}

.collection-node .tree-line-sep {
    margin: 10px -30px 0 -100px;
    border-top: 1px solid #c4cfd5;
}

.left-container .collection-tree-wrap {
    overflow: hidden;
}

.collection-tree.child {
    margin: 0 0 0 15px;
}

.collection-node-text.nodeSelected {
    font-weight: bold;
    text-decoration: none;
}