nav {
    position: fixed;
    right: 0;
    width: 200px;
    max-width: 20%;
    height: 100vh;
}

.nav-link-wrap {
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    border: 1px solid;
    height: 200px;
    box-shadow: -10px 0 25px 0px #e0ebe8;
}
