.list-wrapper {
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    margin: 15px;
}

.list-wrapper thead {
    text-align: left;
    border-bottom: 3px solid rgb(169, 174, 197);
    box-shadow: 0px 0px 20px 0px #626c9a;
}

.list-wrapper tbody{
    box-shadow: 0px 0px 20px 0px #626c9a;
}

.list-wrapper td, .list-wrapper th{
	padding: 10px;
	vertical-align: middle;
}

.list-wrapper td:last-child, .list-wrapper th:last-child{
    border-right: none;
}

.list-wrapper td{
    border-right: 1px dotted #b4b9cf;
}

.list-wrapper tbody tr {
    border-top: 1px solid #b4b9cf;
}

.list-wrapper tbody tr:first-child {
    border-top: none;;
}

.list-wrapper th{
    border-right: 2px solid #b4b9cf;
}

.list-wrapper tbody tr:hover{
	color: #fff;
    background: #d0d3e0;
}

/*.list-wrapper tbody tr:hover::before{
	content: " ";
	position: absolute;
	border:2px solid;
}*/